<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users table</title>
</head>
<body>
<h2>Users table</h2>
<table border="1">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user :${users}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getSurname()}"/>
        <td th:text="${user.getAge()}"/>
        <td>
            <button>
                <a th:href="@{/admin/users/{id}/update(id=${user.getId()})}" type="submit">Update</a>
            </button>
            <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<hr/>
<a  href="users/new">Create new User</a>
<p><a th:href="@{'/logout'}">Logout</a></p>
</body>
</html>